sudo: required
language: ruby
cache: bundler
matrix:
  include:
  - rvm: 2.3.6
    env:
    - DB=mysql
    - CONN_STR='DRIVER=MySQL;SERVER=localhost;DATABASE=odbc_test;USER=root;PASSWORD=;'
    addons:
      mysql: "5.6"
      apt:
        packages:
        - unixodbc
        - unixodbc-dev
        - libmyodbc
        - mysql-client
  - rvm: 2.3.6
    env:
    - DB=postgresql
    - CONN_STR='DRIVER={PostgreSQL ANSI};SERVER=localhost;PORT=5432;DATABASE=odbc_test;UID=postgres;'
    addons:
      postgresql: "9.2"
      apt:
        packages:
        - unixodbc
        - unixodbc-dev
        - odbc-postgresql
  - rvm: 2.4.3
    env:
    - DB=mysql
    - CONN_STR='DRIVER=MySQL;SERVER=localhost;DATABASE=odbc_test;USER=root;PASSWORD=;'
    addons:
      mysql: "5.6"
      apt:
        packages:
        - unixodbc
        - unixodbc-dev
        - libmyodbc
        - mysql-client
  - rvm: 2.4.3
    env:
    - DB=postgresql
    - CONN_STR='DRIVER={PostgreSQL ANSI};SERVER=localhost;PORT=5432;DATABASE=odbc_test;UID=postgres;'
    addons:
      postgresql: "9.2"
      apt:
        packages:
        - unixodbc
        - unixodbc-dev
        - odbc-postgresql
before_script: bin/ci-setup
